[submodule "third-party/my5G-RANTester"]
	path = third-party/my5G-RANTester
	url = https://github.com/vrajpat3ll/my5G-RANTester.git
[submodule "third-party/kubeshark"]
	path = third-party/kubeshark
	url = https://github.com/kubeshark/kubeshark.git